/* prevent initial flash in dark mode */

/* beasties:include start */
html {
  background-color: #171717;
}
/* beasties:include end */

.highlighter > pre,
.highlighter > pre > code {
  background-color: transparent !important;
}

.highlighter code {
  padding: 0;
}
