html.dark {
  background-color: var(--color-light);
}
html {
  background-color: var(--color-graySuperLight);
}

.highlighter > pre,
.highlighter > pre > code {
  background-color: transparent !important;
}
/* 
.highlighter > pre > code {
  width: auto !important;
}

.highlighter > pre {
  display: block !important;
  min-width: 100px !important;
  width: 100% !important;
  overflow-x: auto !important;
} */

code {
  background-color: var(--color-grayLight);
  color: var(--color-dark);
  padding: 0.2em 0.4em;
  font-size: 14px;
}
