html.dark{background-color:var(--color-light)}html{background-color:var(--color-graySuperLight)}.highlighter>pre,.highlighter>pre>code{background-color:transparent!important}.highlighter code{padding:0}
