name: Deploy Documentation

on:
  push:
    branches:
      - master
    paths:
      - docs/**

jobs:
  build-and-deploy:
    name: Build and deploy Github Page
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: npm

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{hashFiles('package-lock.json')}}
          restore-keys: node_modules-

      - name: Install Dependencies
        run: |
          cd docs
          npm i

      - name: Build Documentation
        run: npm run docs:publish

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/dist/client
          clean: true
